<section id="sectionLogin" class="allSection">
  <!--Login-->
    <div id="formLogin" class="text-center col-md-4 offset-4" >
        <form [formGroup]="FormLoginUser" class="card p-4 shadow-lg" style="margin-top: 150px;">
            <img class="m-5" src="assets/images/logo_appdomino_black.png" alt="" width="210px">
            <div class="form-group">
              <label>Email</label>
              <input (blur)="validatorMail($event.target.value, 'mailLogin')" id="mailLogin" formControlName="mail" type="email" class="form-control" aria-describedby="emailHelp">
              <small id="mailEmpity" class="d-none invalid-feedback">
                Mail Vacio
              </small>
              <small id="mailError" class="d-none invalid-feedback">
                Mail con errores
              </small>
            </div> 
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input id="passLogin" (blur)="validateEmpity('passLogin', $event.target.value)"formControlName="pass" type="password" class="form-control">
            </div>
            <button class="btn btn-lg btn-success btn-block" (click)="login(FormLoginUser.value)" [ngClass]="{ enabled: FormLoginUser.valid, disabled: FormLoginUser.invalid }" >Ingresar</button>
            <div>
              <button class="btn btn-link pt-2" (click)="changeForm('formRegister', 'formLogin')">Crear Usuario</button>
              <p class="text-muted p-2">App Dominó &copy; 2020</p>
            </div>
          </form>
    </div>
  <!--Register-->
  <div class="text-center col-md-4 offset-4">
    <form [formGroup]="FormCreateUser" id="formRegister" class="card p-5 p-4 d-none" style="margin-top: 150px;">
        <img class="m-5" src="assets/images/logo_appdomino_black.png" alt="" width="210px">
        <div class="form-group">
          <label for="exampleInputEmail1">Nombre</label>
          <input id="nameRegister" (blur)="validateEmpity('nameRegister', $event.target.value)" formControlName="name" type="text" class="form-control"> 
        </div>  
        <div class="form-group">
          <label >Email</label>
          <input id="mailRegister" (blur)="validatorMail($event.target.value, 'mailRegister')" formControlName="mail" type="email" class="form-control" aria-describedby="emailHelp">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input formControlName="pass" id="pass1" type="password" class="form-control">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Repite Password</label>
          <input id="pass2" (blur)="validatePass($event.target.value, FormCreateUser.value)" type="password" class="form-control">
          <small id="passError" class="d-none invalid-feedback">
            Claves no coinciden
          </small>
          <small id="passEmpity" class="d-none invalid-feedback">
            Campos Vacios
          </small>
          <small id="passSuccess" class="d-none invalid-feedback">
            Claves coinciden
          </small>
        </div>
        <button class="btn btn-lg btn-success btn-block" (click)="register(FormCreateUser.value)" [ngClass]="{ enabled: FormCreateUser.valid, disabled: FormCreateUser.invalid }">Registrar</button>
        <div>
          <button class="btn btn-link pt-2" (click)="changeForm('formLogin', 'formRegister')">Ya tengo Usuario</button>
          <p class="text-muted p-2">App Dominó &copy; 2020</p>
        </div>
      </form>
</div>
</section>
