<section class="allSection" >
  <div class="col-md-12">
    <h2>
        Listado de Torneos
    </h2>
    <p>
    Aqui encontraras todos los torneos que has creado, podras administrarlos y ver la información más relevante.
    </p>
</div>
  <div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4" *ngFor="let tor of AllTors">
        <div class="card h-100 shadow-lg card-domino grow" style="width: 25rem;">
          <div class="card bg-dark text-white">
            <img src="assets/images/torneo-pic.png" class="card-img-top">
            <div class="card-img-overlay">
              <span class="badge badge-success" > Inicia: {{ tor._id }}</span>
              <h2 class="card-title"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trophy" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M3 1h10c-.495 3.467-.5 10-5 10S3.495 4.467 3 1zm0 15a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1H3zm2-1a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1H5z"/>
                <path fill-rule="evenodd" d="M12.5 3a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-3 2a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm-6-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-3 2a3 3 0 1 1 6 0 3 3 0 0 1-6 0z"/>
                <path d="M7 10h2v4H7v-4z"/>
                <path d="M10 11c0 .552-.895 1-2 1s-2-.448-2-1 .895-1 2-1 2 .448 2 1z"/>
              </svg> {{ tor.nombre }}</h2>
              <p class="card-text"  > 
                <span *ngIf="tor.activo === true" class="badge badge-success">Activo</span>
                <span *ngIf="tor.activo === false" class="badge badge-light">Finalizado</span>
              </p>
            
              <p class="card-text">Termina: {{ tor.fechaFinal }}</p>
            </div>
          </div>
          <div class="row" > 
            <div class="card-body">
                <p><b>Tipo:</b> {{ tor.tipo }} </p>
                <p><b>Modalidad:</b> {{ tor.modoJuego }} || {{ tor.modoIndividual }}</p>
                <p><b>Sistema Rígido: </b> 
                  <span *ngIf="tor.sistema_rigido === 'true'" class="badge badge-success" > Activo</span>
                  <span *ngIf="tor.sistema_rigido === 'false'" class="badge badge-secondary" > Inactivo</span>
                </p>
                <p><b>Meta de Juego:</b> {{ tor.metaJuego }} || {{ tor.numeroMeta }}</p>
                <p><b>No de Jugadores:</b> {{ tor.numeroParticipantes }}</p>
                <p><b>No de Mesas:</b> {{ tor.mesas }}</p>
                <p><b>Ubicación:</b> {{ tor.pais }} || {{ tor.estado }} || {{ tor.ciudad }} </p>
              
              <div class="text-center">
                <button (click)="goTor()" class="btn btn-success ">Ir al Torneo</button>
                  <swal
                  #deleteSwal
                  title="Seguro eliminaras a {{ tor.nombre }}?"
                  text="Esto no podra deshacerse"
                  icon="question"
                  [showCancelButton]="true"
                  [focusCancel]="true"
                  (confirm)="deleteTor(tor._id)"
                  [swalOptions]="{ confirmButtonText: 'Si Borrar', cancelButtonText:'Cancelar' }">
                </swal>
                  <button class="btn btn-danger" [swal]="deleteSwal">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                    </svg>
                  </button>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>


