<section class="allSection">
    <div class="accordion" id="accordionExample">

        <div class="card">

          <div class="card-header" id="headingOne">
              <div class="row">
                <div class="col-md-6">
                    <h2 class="mb-0">
                        Ronda 1
                    </h2>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-success btn-lg" >Terminar Ronda</button>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-success btn-lg" >Crear otra Ronda</button>
                </div>
                <div class="col-md-2 mb-0">
                    <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path fill-rule="evenodd" d="M7.646 11.354a.5.5 0 0 1 0-.708L10.293 8 7.646 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0z"/>
                            <path fill-rule="evenodd" d="M4.5 8a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5z"/>
                          </svg>
                    </button>
                </div>
              </div>
            
          </div>
      
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
            </div>
          </div>
        </div>

      </div>
</section>

