<table class="col-md-12">
    <thead><tr><td>
      <div class="header-space"></div>
    </td></tr></thead>
    <tbody><tr><td>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </td></tr>
    </tbody>
    <tfoot><tr><td>
      <div class="footer-space"></div>
    </td></tr></tfoot>
  </table>
  
  <!--<div class="header">
    <img width="100px" height="auto" src="assets/images/full-domino-colombia-logo.jpg" >
  </div>-->
  <div class="footer">Appdomino. Desarrollado por Jucema.com</div>