<div class="invoice">
  <!--CABECERA DE CEDULA-->
    <table class="table table-bordered table-sm">
      <tr>
        <td colspan="2" class="table-primary">
          <h3> <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trophy" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M3 1h10c-.495 3.467-.5 10-5 10S3.495 4.467 3 1zm0 15a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1H3zm2-1a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1H5z"/>
            <path fill-rule="evenodd" d="M12.5 3a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-3 2a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm-6-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-3 2a3 3 0 1 1 6 0 3 3 0 0 1-6 0z"/>
            <path d="M7 10h2v4H7v-4z"/>
            <path d="M10 11c0 .552-.895 1-2 1s-2-.448-2-1 .895-1 2-1 2 .448 2 1z"/>
          </svg> {{invoiceIds[11]}} </h3>
        </td>
        <td>
          <h5>{{invoiceIds[0]}}</h5>
        </td>
        <td rowspan="2">
          <b>DIRECCION</b> {{invoiceIds[15]}}
        </td>
      </tr>
      <tr>
        <td>
          <b>FECHA INICIO</b> {{invoiceIds[12]}}
        </td>
        <td>
          <b>FECHA FINAL</b> {{invoiceIds[13]}}
        </td>
        <td>
          <b>CIUDAD</b> {{invoiceIds[14]}}
        </td>
      </tr>
    </table>
    <!--1ra partida-->
    <table class="table table-bordered table-sm">
      <thead>
        <tr>
          <th scope="col">1ra Partida</th>
          <th scope="col">Jugador</th>
          <th scope="col">DNI</th>
          <th scope="col">Pts <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4a.5.5 0 0 0-1 0v3.5H4a.5.5 0 0 0 0 1h3.5V12a.5.5 0 0 0 1 0V8.5H12a.5.5 0 0 0 0-1H8.5V4z"/>
          </svg></th>
          <th scope="col">Pts <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-dash-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4 7.5a.5.5 0 0 0 0 1h8a.5.5 0 0 0 0-1H4z"/>
          </svg></th>
          <th scope="col">Gano/Perdio</th>
          <th>Final</th>
          <th colspan="2">Firmas</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>{{invoiceIds[1]}}</td>
          <td>{{invoiceIds[2]}}</td>
          <td></td>
          <td></td>
          <td></td>
          <td rowspan="2"></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>{{invoiceIds[3]}}</td>
          <td>{{invoiceIds[4]}}</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>{{invoiceIds[5]}}</td>
          <td>{{invoiceIds[6]}}</td>
          <td></td>
          <td></td>
          <td></td>
          <td rowspan="2"></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>{{invoiceIds[7]}}</td>
          <td>{{invoiceIds[8]}}</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
      <tr>
        <th><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-shield-shaded" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M5.443 1.991a60.17 60.17 0 0 0-2.725.802.454.454 0 0 0-.315.366C1.87 7.056 3.1 9.9 4.567 11.773c.736.94 1.533 1.636 2.197 2.093.333.228.626.394.857.5.116.053.21.089.282.11A.73.73 0 0 0 8 14.5c.007-.001.038-.005.097-.023.072-.022.166-.058.282-.111.23-.106.525-.272.857-.5a10.197 10.197 0 0 0 2.197-2.093C12.9 9.9 14.13 7.056 13.597 3.159a.454.454 0 0 0-.315-.366c-.626-.2-1.682-.526-2.725-.802C9.491 1.71 8.51 1.5 8 1.5c-.51 0-1.49.21-2.557.491zm-.256-.966C6.23.749 7.337.5 8 .5c.662 0 1.77.249 2.813.525a61.09 61.09 0 0 1 2.772.815c.528.168.926.623 1.003 1.184.573 4.197-.756 7.307-2.367 9.365a11.191 11.191 0 0 1-2.418 2.3 6.942 6.942 0 0 1-1.007.586c-.27.124-.558.225-.796.225s-.526-.101-.796-.225a6.908 6.908 0 0 1-1.007-.586 11.192 11.192 0 0 1-2.417-2.3C2.167 10.331.839 7.221 1.412 3.024A1.454 1.454 0 0 1 2.415 1.84a61.11 61.11 0 0 1 2.772-.815z"/>
          <path d="M8 2.25c.909 0 3.188.685 4.254 1.022a.94.94 0 0 1 .656.773c.814 6.424-4.13 9.452-4.91 9.452V2.25z"/>
        </svg></th>
        <td colspan="2"><b>Juez: </b>{{invoiceIds[9]}} <b>DNI:</b> {{invoiceIds[10]}}</td>
        <td>Firma: </td>
        <td colspan="4"></td>
      </tr>
    </table>
    <!--2da partida-->
    <table class="table table-bordered table-sm">
      <thead>
        <tr>
          <th scope="col">2da Partida</th>
          <th scope="col">Jugador</th>
          <th scope="col">DNI</th>
          <th scope="col">Pts <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4a.5.5 0 0 0-1 0v3.5H4a.5.5 0 0 0 0 1h3.5V12a.5.5 0 0 0 1 0V8.5H12a.5.5 0 0 0 0-1H8.5V4z"/>
          </svg></th>
          <th scope="col">Pts <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-dash-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4 7.5a.5.5 0 0 0 0 1h8a.5.5 0 0 0 0-1H4z"/>
          </svg></th>
          <th scope="col">Gano/Perdio</th>
          <th>Final</th>
          <th colspan="2">Firmas</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>{{invoiceIds[1]}}</td>
          <td>{{invoiceIds[2]}}</td>
          <td></td>
          <td></td>
          <td></td>
          <td rowspan="2"></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>{{invoiceIds[3]}}</td>
          <td>{{invoiceIds[4]}}</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>{{invoiceIds[5]}}</td>
          <td>{{invoiceIds[6]}}</td>
          <td></td>
          <td></td>
          <td></td>
          <td rowspan="2"></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>{{invoiceIds[7]}}</td>
          <td>{{invoiceIds[8]}}</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
      <tr>
        <th><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-shield-shaded" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M5.443 1.991a60.17 60.17 0 0 0-2.725.802.454.454 0 0 0-.315.366C1.87 7.056 3.1 9.9 4.567 11.773c.736.94 1.533 1.636 2.197 2.093.333.228.626.394.857.5.116.053.21.089.282.11A.73.73 0 0 0 8 14.5c.007-.001.038-.005.097-.023.072-.022.166-.058.282-.111.23-.106.525-.272.857-.5a10.197 10.197 0 0 0 2.197-2.093C12.9 9.9 14.13 7.056 13.597 3.159a.454.454 0 0 0-.315-.366c-.626-.2-1.682-.526-2.725-.802C9.491 1.71 8.51 1.5 8 1.5c-.51 0-1.49.21-2.557.491zm-.256-.966C6.23.749 7.337.5 8 .5c.662 0 1.77.249 2.813.525a61.09 61.09 0 0 1 2.772.815c.528.168.926.623 1.003 1.184.573 4.197-.756 7.307-2.367 9.365a11.191 11.191 0 0 1-2.418 2.3 6.942 6.942 0 0 1-1.007.586c-.27.124-.558.225-.796.225s-.526-.101-.796-.225a6.908 6.908 0 0 1-1.007-.586 11.192 11.192 0 0 1-2.417-2.3C2.167 10.331.839 7.221 1.412 3.024A1.454 1.454 0 0 1 2.415 1.84a61.11 61.11 0 0 1 2.772-.815z"/>
          <path d="M8 2.25c.909 0 3.188.685 4.254 1.022a.94.94 0 0 1 .656.773c.814 6.424-4.13 9.452-4.91 9.452V2.25z"/>
        </svg></th>
        <td colspan="2"><b>Juez: </b>{{invoiceIds[9]}} <b>DNI:</b> {{invoiceIds[10]}}</td>
        <td>Firma: </td>
        <td colspan="4"></td>
      </tr>
    </table>
    <!--3ra partida-->
    <table class="table table-bordered table-sm">
      <thead>
        <tr>
          <th scope="col">3ra Partida</th>
          <th scope="col">Jugador</th>
          <th scope="col">DNI</th>
          <th scope="col">Pts <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4a.5.5 0 0 0-1 0v3.5H4a.5.5 0 0 0 0 1h3.5V12a.5.5 0 0 0 1 0V8.5H12a.5.5 0 0 0 0-1H8.5V4z"/>
          </svg></th>
          <th scope="col">Pts <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-dash-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4 7.5a.5.5 0 0 0 0 1h8a.5.5 0 0 0 0-1H4z"/>
          </svg></th>
          <th scope="col">Gano/Perdio</th>
          <th>Final</th>
          <th colspan="2">Firmas</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>{{invoiceIds[1]}}</td>
          <td>{{invoiceIds[2]}}</td>
          <td></td>
          <td></td>
          <td></td>
          <td rowspan="2"></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>{{invoiceIds[3]}}</td>
          <td>{{invoiceIds[4]}}</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>{{invoiceIds[5]}}</td>
          <td>{{invoiceIds[6]}}</td>
          <td></td>
          <td></td>
          <td></td>
          <td rowspan="2"></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>{{invoiceIds[7]}}</td>
          <td>{{invoiceIds[8]}}</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
      <tr>
        <th><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-shield-shaded" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M5.443 1.991a60.17 60.17 0 0 0-2.725.802.454.454 0 0 0-.315.366C1.87 7.056 3.1 9.9 4.567 11.773c.736.94 1.533 1.636 2.197 2.093.333.228.626.394.857.5.116.053.21.089.282.11A.73.73 0 0 0 8 14.5c.007-.001.038-.005.097-.023.072-.022.166-.058.282-.111.23-.106.525-.272.857-.5a10.197 10.197 0 0 0 2.197-2.093C12.9 9.9 14.13 7.056 13.597 3.159a.454.454 0 0 0-.315-.366c-.626-.2-1.682-.526-2.725-.802C9.491 1.71 8.51 1.5 8 1.5c-.51 0-1.49.21-2.557.491zm-.256-.966C6.23.749 7.337.5 8 .5c.662 0 1.77.249 2.813.525a61.09 61.09 0 0 1 2.772.815c.528.168.926.623 1.003 1.184.573 4.197-.756 7.307-2.367 9.365a11.191 11.191 0 0 1-2.418 2.3 6.942 6.942 0 0 1-1.007.586c-.27.124-.558.225-.796.225s-.526-.101-.796-.225a6.908 6.908 0 0 1-1.007-.586 11.192 11.192 0 0 1-2.417-2.3C2.167 10.331.839 7.221 1.412 3.024A1.454 1.454 0 0 1 2.415 1.84a61.11 61.11 0 0 1 2.772-.815z"/>
          <path d="M8 2.25c.909 0 3.188.685 4.254 1.022a.94.94 0 0 1 .656.773c.814 6.424-4.13 9.452-4.91 9.452V2.25z"/>
        </svg></th>
        <td colspan="2"><b>Juez: </b>{{invoiceIds[9]}} <b>DNI:</b> {{invoiceIds[10]}}</td>
        <td>Firma: </td>
        <td colspan="4"></td>
      </tr>
    </table>
    <!--4ta partida-->
    <table class="table table-bordered table-sm">
      <thead>
        <tr>
          <th scope="col">4ta Partida</th>
          <th scope="col">Jugador</th>
          <th scope="col">DNI</th>
          <th scope="col">Pts <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4a.5.5 0 0 0-1 0v3.5H4a.5.5 0 0 0 0 1h3.5V12a.5.5 0 0 0 1 0V8.5H12a.5.5 0 0 0 0-1H8.5V4z"/>
          </svg></th>
          <th scope="col">Pts <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-dash-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4 7.5a.5.5 0 0 0 0 1h8a.5.5 0 0 0 0-1H4z"/>
          </svg></th>
          <th scope="col">Gano/Perdio</th>
          <th>Final</th>
          <th colspan="2">Firmas</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>{{invoiceIds[1]}}</td>
          <td>{{invoiceIds[2]}}</td>
          <td></td>
          <td></td>
          <td></td>
          <td rowspan="2"></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>{{invoiceIds[3]}}</td>
          <td>{{invoiceIds[4]}}</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>{{invoiceIds[5]}}</td>
          <td>{{invoiceIds[6]}}</td>
          <td></td>
          <td></td>
          <td></td>
          <td rowspan="2"></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>{{invoiceIds[7]}}</td>
          <td>{{invoiceIds[8]}}</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
      <tr>
        <th><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-shield-shaded" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M5.443 1.991a60.17 60.17 0 0 0-2.725.802.454.454 0 0 0-.315.366C1.87 7.056 3.1 9.9 4.567 11.773c.736.94 1.533 1.636 2.197 2.093.333.228.626.394.857.5.116.053.21.089.282.11A.73.73 0 0 0 8 14.5c.007-.001.038-.005.097-.023.072-.022.166-.058.282-.111.23-.106.525-.272.857-.5a10.197 10.197 0 0 0 2.197-2.093C12.9 9.9 14.13 7.056 13.597 3.159a.454.454 0 0 0-.315-.366c-.626-.2-1.682-.526-2.725-.802C9.491 1.71 8.51 1.5 8 1.5c-.51 0-1.49.21-2.557.491zm-.256-.966C6.23.749 7.337.5 8 .5c.662 0 1.77.249 2.813.525a61.09 61.09 0 0 1 2.772.815c.528.168.926.623 1.003 1.184.573 4.197-.756 7.307-2.367 9.365a11.191 11.191 0 0 1-2.418 2.3 6.942 6.942 0 0 1-1.007.586c-.27.124-.558.225-.796.225s-.526-.101-.796-.225a6.908 6.908 0 0 1-1.007-.586 11.192 11.192 0 0 1-2.417-2.3C2.167 10.331.839 7.221 1.412 3.024A1.454 1.454 0 0 1 2.415 1.84a61.11 61.11 0 0 1 2.772-.815z"/>
          <path d="M8 2.25c.909 0 3.188.685 4.254 1.022a.94.94 0 0 1 .656.773c.814 6.424-4.13 9.452-4.91 9.452V2.25z"/>
        </svg></th>
        <td colspan="2"><b>Juez: </b>{{invoiceIds[9]}} <b>DNI:</b> {{invoiceIds[10]}}</td>
        <td>Firma: </td>
        <td colspan="4"></td>
      </tr>
    </table>
    <!--5ta partida-->
    <table class="table table-bordered table-sm">
      <thead>
        <tr>
          <th scope="col">5ta Partida</th>
          <th scope="col">Jugador</th>
          <th scope="col">DNI</th>
          <th scope="col">Pts <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4a.5.5 0 0 0-1 0v3.5H4a.5.5 0 0 0 0 1h3.5V12a.5.5 0 0 0 1 0V8.5H12a.5.5 0 0 0 0-1H8.5V4z"/>
          </svg></th>
          <th scope="col">Pts <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-dash-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4 7.5a.5.5 0 0 0 0 1h8a.5.5 0 0 0 0-1H4z"/>
          </svg></th>
          <th scope="col">Gano/Perdio</th>
          <th>Final</th>
          <th colspan="2">Firmas</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>{{invoiceIds[1]}}</td>
          <td>{{invoiceIds[2]}}</td>
          <td></td>
          <td></td>
          <td></td>
          <td rowspan="2"></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>{{invoiceIds[3]}}</td>
          <td>{{invoiceIds[4]}}</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>{{invoiceIds[5]}}</td>
          <td>{{invoiceIds[6]}}</td>
          <td></td>
          <td></td>
          <td></td>
          <td rowspan="2"></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>{{invoiceIds[7]}}</td>
          <td>{{invoiceIds[8]}}</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
      <tr>
        <th><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-shield-shaded" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M5.443 1.991a60.17 60.17 0 0 0-2.725.802.454.454 0 0 0-.315.366C1.87 7.056 3.1 9.9 4.567 11.773c.736.94 1.533 1.636 2.197 2.093.333.228.626.394.857.5.116.053.21.089.282.11A.73.73 0 0 0 8 14.5c.007-.001.038-.005.097-.023.072-.022.166-.058.282-.111.23-.106.525-.272.857-.5a10.197 10.197 0 0 0 2.197-2.093C12.9 9.9 14.13 7.056 13.597 3.159a.454.454 0 0 0-.315-.366c-.626-.2-1.682-.526-2.725-.802C9.491 1.71 8.51 1.5 8 1.5c-.51 0-1.49.21-2.557.491zm-.256-.966C6.23.749 7.337.5 8 .5c.662 0 1.77.249 2.813.525a61.09 61.09 0 0 1 2.772.815c.528.168.926.623 1.003 1.184.573 4.197-.756 7.307-2.367 9.365a11.191 11.191 0 0 1-2.418 2.3 6.942 6.942 0 0 1-1.007.586c-.27.124-.558.225-.796.225s-.526-.101-.796-.225a6.908 6.908 0 0 1-1.007-.586 11.192 11.192 0 0 1-2.417-2.3C2.167 10.331.839 7.221 1.412 3.024A1.454 1.454 0 0 1 2.415 1.84a61.11 61.11 0 0 1 2.772-.815z"/>
          <path d="M8 2.25c.909 0 3.188.685 4.254 1.022a.94.94 0 0 1 .656.773c.814 6.424-4.13 9.452-4.91 9.452V2.25z"/>
        </svg></th>
        <td colspan="2"><b>Juez: </b>{{invoiceIds[9]}} <b>DNI:</b> {{invoiceIds[10]}}</td>
        <td>Firma: </td>
        <td colspan="4"></td>
      </tr>
    </table>
    <!--OBSERVACIONES-->
    <table class="table table-bordered table-sm">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Jugador</th>
          <th scope="col">DNI</th>
          <th scope="col" colspan="2">Observaciones </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>{{invoiceIds[1]}}</td>
          <td>{{invoiceIds[2]}}</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>{{invoiceIds[3]}}</td>
          <td>{{invoiceIds[4]}}</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>{{invoiceIds[5]}}</td>
          <td>{{invoiceIds[6]}}</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>{{invoiceIds[7]}}</td>
          <td>{{invoiceIds[8]}}</td>
          <td></td>
        </tr>
      </tbody>
      <tr>
        <th><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-shield-shaded" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M5.443 1.991a60.17 60.17 0 0 0-2.725.802.454.454 0 0 0-.315.366C1.87 7.056 3.1 9.9 4.567 11.773c.736.94 1.533 1.636 2.197 2.093.333.228.626.394.857.5.116.053.21.089.282.11A.73.73 0 0 0 8 14.5c.007-.001.038-.005.097-.023.072-.022.166-.058.282-.111.23-.106.525-.272.857-.5a10.197 10.197 0 0 0 2.197-2.093C12.9 9.9 14.13 7.056 13.597 3.159a.454.454 0 0 0-.315-.366c-.626-.2-1.682-.526-2.725-.802C9.491 1.71 8.51 1.5 8 1.5c-.51 0-1.49.21-2.557.491zm-.256-.966C6.23.749 7.337.5 8 .5c.662 0 1.77.249 2.813.525a61.09 61.09 0 0 1 2.772.815c.528.168.926.623 1.003 1.184.573 4.197-.756 7.307-2.367 9.365a11.191 11.191 0 0 1-2.418 2.3 6.942 6.942 0 0 1-1.007.586c-.27.124-.558.225-.796.225s-.526-.101-.796-.225a6.908 6.908 0 0 1-1.007-.586 11.192 11.192 0 0 1-2.417-2.3C2.167 10.331.839 7.221 1.412 3.024A1.454 1.454 0 0 1 2.415 1.84a61.11 61.11 0 0 1 2.772-.815z"/>
          <path d="M8 2.25c.909 0 3.188.685 4.254 1.022a.94.94 0 0 1 .656.773c.814 6.424-4.13 9.452-4.91 9.452V2.25z"/>
        </svg></th>
        <td colspan="2"><b>Juez: </b>{{invoiceIds[9]}} <b>DNI:</b> {{invoiceIds[10]}}</td>
        <td>Firma: </td>
      </tr>
    </table>
</div>
  